#page_4
	display: block
	&.active_page
		#gray_corner_left
			left: 0
			+media(1000px)
				left: -70px
			+media(700px)
				left: -200px
			+media(480px)
				left: -250px
		#gray_corner_right
			left: 100%
			+media(1000px)
				left: 110%
			+media(800px)
				left: 117%
			+media(600px)
				left: 123%
			+media(440px)
				left: 140%
			+media(330px)
				left: 150%
		.design_slide
			z-index: -1
			&.active
				z-index: 1
				opacity: 1
				.section_icon
					+transform(rotate(0deg))
					opacity: 1
				.line_1
					height: 100%
					+transition-delay(.3s)
				.line_2
					width: 100%
					+transition-delay(.6s)
				.tree_header_circle
					opacity: 1
					+transition-delay(.8s)
				.standard_tree h2
					left: 5px
					opacity: 1
					+transition-duration(.6s)
					+transition-delay(.8s)
				.hexagon
					+transform(scale(1))
				iframe
					opacity: 1 !important
					z-index: 5 !important
					pointer-events: auto !important
				#youtube_image
					opacity: 1 !important
					z-index: 1 !important
					top: 35% !important
				p
					left: 15px
					opacity: 1
					+transition-duration(.6s)
					+transition-delay(1s)
	
	.gray_corner
		background-color: $gray_0
		position: absolute
		+transform(translate(-50%, -50%) rotate(60deg))
		+transition-property(left)
		+transition-duration(1s)
		z-index: 2
		
	#gray_corner_left
		top: -120px
		left: -600px
		height: 650px
		width: 650px
		overflow: hidden
	
	#gray_corner_right
		bottom: -940px
		left: 150%
		height: 1000px
		width: 400px
		+media(1000px)
			bottom: -980px
		+media(800px)
			left: 160%
			bottom: -1020px
		+media(750px)
			left: 180%
		+media(600px)
			left: 240%
			bottom: -1020px
		
	.arrow
		position: absolute
		+transform(translate(-50%, -50%))
		left: 0
		top: 50%
		&:hover
			cursor: pointer
		i
			position: absolute
			opacity: 1
			left: 50%
			top: 50%
			+transform(translate(-50%, -50%) rotate(-60deg))
			+transition(opacity 0.2s ease)
	#arrow_right
		width: 90px
		height: 90px
		background: url($image_path + "hex_8.svg")
		background-size: cover
		background-position: 50% 50%
		background-repeat: no-repeat
		top: 65%
		+media(600px)
			width: 80px
			height: 80px
			top: 65.5%
		i
			font-size: 22px
	#arrow_left
		width: 50px
		height: 50px
		background: url($image_path + "hex_9.svg")
		background-size: cover
		background-position: 50% 50%
		background-repeat: no-repeat
		top: 71%
		i
			font-size: 12px
	
	.design_slide
		opacity: 0
		width: 100%
		height: 100%
		position: absolute
		+transition(opacity 0.8s 0.3s ease)
	
	#design_slide_1
		.standard_section
			+absoluteCenterY
			top: 47%
			left: 40%
			+media(2200px)
				left: 35%
			+media(1700px)
				left: 30%
			+media(1400px)
				left: 25%
			+media(900px)
				left: 20%
			+media(800px)
				left: 18%
			+media(750px)
				left: 15%
			+media(650px)
				left: 10%
			+media(480px)
				left: 1.2rem
	
	#design_slide_2
		.standard_section
			z-index: 100
			h2, p
				color: $black
		#composite_video_wrapper
			width: 100%
			height: 100vh
			overflow: hidden
			position: relative
			+media(800px)
				background: url($image_path + "design_background_2_small.jpg")
				background-size: cover
				background-position: 50% 50%
				bacground-repeat: no-repeat
			video
				+absoluteCenter
				z-index: 1
				min-height: 100vh
				min-width: 100%
				width: auto
				height: auto
				object-fit: cover
				+media(800px)
					display: none
		
	#design_slide_3
		background: url($image_path + "design_background_3.jpg")
		background-size: cover
		background-position: 50% 50%
		bacground-repeat: no-repeat
		+media(600px)
			background-position: 45% 50%
			
	#design_slide_4
		background: url($image_path + "design_background_4.jpg")
		background-size: cover
		background-position: 50% 50%
		bacground-repeat: no-repeat
		+media(800px)
			background: url($image_path + "design_background_4_small.jpg")
			background-size: cover
			background-position: 50% 50%
			bacground-repeat: no-repeat
	
	#design_slide_2, #design_slide_3, #design_slide_4, #design_slide_5
		.standard_section
			position: absolute
			bottom: 8%
			left: 5%
			+media(700px)
				bottom: 15%
				left: 10%
			+media(500px)
				bottom: 22%
				left: 6%
			+media(400px)
				bottom: 22%
				left: 4%
				bottom: 20%
				
		iframe
			z-index: -1
			+absoluteCenter
			opacity: 0
			+transition(opacity 0.8s 0.3s ease)
			overflow: hidden
			max-width: 90%
			top: 45%
			pointer-events: none
			+media(700px)
				top: 40%
			+media(600px)
				display: none
				
		#youtube_image
			z-index: -1
			display: none
			+absoluteCenter
			top: -1000%
			opacity: 0
			cursor: pointer
			color: $white
			min-width: 200px
			+media(600px)
				display: block
			img
				width: 100%
				display: block
				margin: 0 auto
				+media(600px)
					width: 120px
				+media(400px)
					width: 100px
			p
				color: $white
				text-align: center
				margin: 10px auto
				white-space: nowrap
				font-size: 13px
			

		
		